html{
	height: 100%
}

body{
	margin:0;
	font-family:arial;
	height:100%;
}

div#punto1{
	float: left;
	width:600px;
	height:900px;
	line-height:30px;
	margin:auto;
}

div#punto0{
	float: none;
	width:1200px;
	height:150px;
	line-height:160px;
	font-family: arial;
	font-size: 2.8em;
	text-align: center;
	margin: auto;
}

img {
	width: 30%;
	border: 2px black solid;
	border-radius: 50px;
	display: block;
	margin: auto;
}

img#e{
	width: 40%;
	border: 2px black solid;
	border-radius: 50px;
	display: block;
	margin: auto;
}
dt{
	color:black;
	font-weight: bold;
	font-family: arial;
	text-align: center;
	font-size: 1.5em;
}
dd{
	font-family: arial;
	text-align: justify;
	font-family: arial;
	font-size: 1.5em;
}

dt#d{
	color:black;
	font-weight: bold;
	font-family: arial;
	text-align:center;
	font-size: 1.5em;
}

dd#e{
	font-family: arial;
	text-align:right;
	font-family: arial;
	font-size: 1.5em;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 1.1em;
	font-weight: normal;
}

body {
	background: turquoise;
}
