html {
	height:100%;
}

body {
	margin:0;
	font-family:arial;
	height:100%;
}

div#punto0{
	float: none;
	width:1500px;
	height:160px;
	line-height:180px;
	font-family: arial;
	font-size: 4em;
	text-align: center;
	margin: auto;
}

div#punto1{
	float: left;
	width:600px;
	height:800px;
	line-height:30px;
	margin:auto;
}

dt{
	color:black;
	font-weight: bold;
	font-family: arial;
	text-align: justify;
}
dd{
	font-family: arial;
	text-align: justify;
}

dt#d{
	color:black;
	font-weight: bold;
	font-family: arial;
	text-align:right;
}

dd#e{
	font-family: arial;
	text-align:right;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 1.1em;
	font-weight: normal;
}

dt#f{
	color:black;
	font-weight: bold;
	font-family: arial;
	text-align: justify;
}

dd#g{
	font-family: arial;
	text-align: justify;
}

body {
	background: turquoise;
}
