html {
	height:100%;
}

body {
	margin:0;
	font-family:arial;
	height:100%;
}

div {
	width:800px;
	height:50px;
	line-height:45px;
	text-align: left;
	margin:auto;
}

div#punto0{
	float: none;
	width:1200px;
	height:125px;
	line-height:150px;
	font-family: arial;
	font-size: 2.5em;
	text-align: center;
	margin: 0px;
}

* {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 0.99999999em;
	font-weight: normal;
}

.button{
	background: #7f8c8d;
	color:#fff;
	display:inline-block;
	font-size: 1.25em;
	margin: 20px;
	padding: 10px 0px;
	text-align: center;
	width: 200px;
	text-decoration: none;
	box-shadow: 0px 3px 0px #373c3c;	
}

.button.blue{
	background: #3498db;
	box-shadow: 0px 3px 0px #266792;
}

.button.green{
	background:#0bf026;
	box-shadow: 0px 3px 0px #088316;
}

.button.orange{
	background:#DD8C30;
	box-shadow: 0px 3px 0px #995405;
}

.button.yellow{
	background:#F1F915;
	box-shadow: 0px 3px 0px #B8BE07;
}
body {
	background: green;
}

img {
	width: 30%;
	border: 2px black solid;
	border-radius: 50px;
	display: block;
	margin: auto;
}

dd{
	font-family: arial;
	text-align: justify;
	font-size: 1.1em;
}

table{
	font-size: 1em;
	text-align: justify;

}
